* {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

#prompt {
    display: none;
    font-size: 1.5em;
}

.form {
    text-align: center;
    margin: 5% auto;
    min-height: 20vh;
    width: 500px;
    font-size: 3em;
    border: 5px solid #0099CC;
}

.form.letter {
    display: none;
}

.form > button {
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    padding: 16px 32px;
    margin-bottom: 5%;
}

.form > button:hover {
    background: #0099CC;
    border: 2px solid #08bbf6;
    color: white;
}

#gameBoard {
    display: none;
    min-height: 70vh;
    max-width: 60%;
    margin: 3% auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
}

#gameBoard > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: 1px solid black;
}

.top {
    border-top: none !important;
}

.left {
    border-left: none !important;
}

.right {
    border-right: none !important;
}

.bottom {
    border-bottom: none !important; 
}